* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #c4c4c4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0px;
    display: flex;
    gap: 30px;
}

button {
    padding: 10px;
    font-size: 45px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

button:hover {
    opacity: 0.5;

}

#rock {
    background-color: red ;
}

#paper {
    background-color: #ffffff ;
}

#scissors {
    background-color: black ;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.my-score span {
    color: rgb(53, 53, 233);
}

.machine-score span {
    color: rgb(255, 0, 255);
}